<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_IWCFSorter" />
        </basicHttpBinding>
        <wsHttpBinding>
          <binding name="WSHttpBinding_IWCFSorter">
            <security mode="Message">
              <transport clientCredentialType="Windows" />
              <message clientCredentialType="Windows" />
            </security>
          </binding>
          <binding name="WSHttpBinding_IWCFSorter1" />
        </wsHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://localhost:8000/Sorter/Sorter" binding="wsHttpBinding"
          bindingConfiguration="WSHttpBinding_IWCFSorter1" contract="sorter.IWCFSorter"
          name="WSHttpBinding_IWCFSorter">
          <identity>
            <userPrincipalName value="Александра-ПК\Александра" />
          </identity>
        </endpoint>
      </client>
    </system.serviceModel>
</configuration>